<launch>

  <arg name="docker" default="false" />

  <node pkg="lslidar_c16_driver" type="lslidar_c16_driver_node" name="lslidar_c16_driver_node" output="screen">
    <rosparam if="$(arg docker)" file="/ros_ws/src/lslidar_c16/lslidar_c16_driver/config/lslidar_c16_driver.yaml" />
    <rosparam unless="$(arg docker)" file="$(find lslidar_c16_driver)/config/lslidar_c16_driver.yaml" />
  </node>

  <node pkg="lslidar_c16_decoder" type="lslidar_c16_decoder_node" name="lslidar_c16_decoder_node" output="screen">
    <rosparam if="$(arg docker)" file="/ros_ws/src/lslidar_c16/lslidar_c16_decoder/config/lslidar_c16_decoder.yaml" />
    <rosparam unless="$(arg docker)" file="$(find lslidar_c16_decoder)/config/lslidar_c16_decoder.yaml" />
  </node>

</launch>
